@import "reset.scss";
@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html {font-size: 16px; font-family: 'Indie Flower', sans-serif;}
body {background: #E7E7E8;}
h1, h2, h3, h4, h5, h6 {font-weight: bold;}
h1 {font-size: 2.25em; margin-bottom: 0.5em;}
h2 {font-size: 1.75em; margin-bottom: 0.5em;}
h3 {font-size: 1.5em; margin-bottom: 0.5em;}
h4 {font-size: 1.25em; margin-bottom: 0.5em;}
address {margin-bottom: 1em;}
p {margin-bottom: 1em; font-size: 1em; line-height: 1.1;}

.player {
    position: relative;
    padding-top: 56.25%;
}

.player video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

main {
    padding: 1em;
}

section {
    margin-bottom: 1em;
}

button {
    color: #FFFFFF;
    font-size: 1.5em;
    font-family: 'Indie Flower';
    padding: 0.5em;
    background-color: blueviolet;
    border-radius: 6px;
    margin-bottom: 1em;

}